[submodule "drag-sort-listview"]
	path = drag-sort-listview
	url = https://github.com/bauerca/drag-sort-listview
	ignore = dirty
[submodule "HoloEverywhere"]
	path = HoloEverywhere
	url = https://github.com/ChristopheVersieux/HoloEverywhere
	ignore = dirty