---
# dummy front matter
---
{% include head.html %}
<a class="pull-right btn btn-github" href="http://github.com/cmrn/squire/">
	<span>View on GitHub</span><i class="icon-github icon-2x"></i>
</a>
<div class="jumbotron last">
<h1><img src="img/squire-icon.png">Squire</h1>
<p class="lead">The RPG combat assistant.</p>

<div class="row-fluid">
		<a class="span5 offset1 btn btn-large btn-inverse"><i class="icon-play pull-left icon-2x"></i>Get it on Google Play<br><small class="muted">Coming Soon!</small></a>
		<a class="span5 btn btn-large btn-primary" id="btn-download" data-toggle="tooltip" href="http://cmrn.github.com/squire/apks/squire-b1.1.apk"><i class="icon-download-alt pull-left icon-2x"></i>Download APK<br><small class="muted">Beta 1.1</small></a>
</div>
</div>

<hr>

<div class="row-fluid">
	<p class="span10 offset1 lead first last">
		Squire is an Android application that keeps track of the current value of all your characters combat stats, as well as what buffs, debuffs, and other modifiers are currently affecting them.
	</p>
</div>

<hr>

<div class="row-fluid">
	<div class="span6">
		<h3 class="first">Never forget another buff</h3>
		<p>Are you tired of missing your attack because you forgot that +1 buff? Are the other players getting annoyed at you having to add up all your different bonuses? Let Squire do the hard work instead, while you focus on the game.</p>
	</div>
	<div class="span6">

		<h3 class="first">System independent</h3>
		<p>Pathfinder, Dungeons &amp; Dragons, GURPS, or any other system - as long as your system involves numbers, Squire can help you. Squire comes pre-loaded with some example stats and modifiers for Pathfinder, but it's easy to add your own stats and modifiers to make Squire work for you.</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<h3>All kinds of free</h3>
		<p class="last">Squire is free to download (<a href="http://en.wikipedia.org/wiki/Gratis">gratis</a>) and open source (<a href="http://en.wikipedia.org/wiki/Libre">libre</a>). This means you can download and use the app, modify the source code, and basically do whatever you want.</p>
	</div>

	<div class="span6">
		<h3>Contact and feedback</h3>
		<p class="last">Squire is an ongoing project, and I'd love to hear from you! If you have any feature requests, bug reports, or other suggestions, head over to the <a href="https://github.com/cmrn/squire/issues">GitHub issues page</a>. For anything else, email <a href="mailto:squire@cmrn.me">squire@cmrn.me</a>.</p>
	</div>
</div>

<hr>

<div class="carousel slide row-fluid" id="myCarousel" data-interval="false">
	<div class="carousel-inner">
	  <div class="item active">
			<ul class="thumbnails last">
				<li class="span4">
					<div class="caption">
						<h4 class="first">Stats</h4>
					</div>
					<div class="thumbnail">
						<img src="screenshots/1.png" alt="">
					</div>
				</li>
				<li class="span4">
					<div class="caption">
						<h4 class="first">Modifers</h4>
					</div>
					<div class="thumbnail">
						<img src="screenshots/2.png" alt="">
					</div>
				</li>
				<li class="span4">
					<div class="caption">
						<h4 class="first">Edit mode - Stats</h4>
					</div>
					<div class="thumbnail">
						<img src="screenshots/3.png" alt="">
					</div>
				</li>
			</ul>
	  </div>
	  <div class="item">
			<ul class="thumbnails last">
				<li class="span4">
					<div class="caption">
						<h4 class="first">Edit mode - Modifiers</h4>
					</div>
					<div class="thumbnail">
						<img src="screenshots/4.png" alt="">
					</div>
				</li>
				<li class="span4">
					<div class="caption">
						<h4 class="first">Edit stat</h4>
					</div>
					<div class="thumbnail">
						<img src="screenshots/5.png" alt="">
					</div>
				</li>
				<li class="span4">
					<div class="caption">
						<h4 class="first">Edit modifier</h4>
					</div>
					<div class="thumbnail">
						<img src="screenshots/6.png" alt="">
					</div>
				</li>
			</ul>
	  </div>
	</div>
	<a data-slide="prev" href="#myCarousel" class="left carousel-control"><i class="icon-angle-left"></i></a>
	<a data-slide="next" href="#myCarousel" class="right carousel-control"><i class="icon-angle-right"></i></a>
</div>

{% include foot.html %}