<hr>

<div class="footer">
	<p class="pull-left">Squire is maintained by <a href="http://cameron.moon.net.au">Cameron Moon</a>.</p>
	<small class="pull-right muted">Google Play is a trademark of Google Inc.</small>
</div>

</div> <!-- /container -->

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>


<script>
	$('#btn-download').tooltip({ html: true, 
	                             title: '<img class="qr" src="/img/download-qr.png">',
	                             placement: 'bottom' });
</script>
</body>
</html>